*.o
*.vscode

# all executables
megaphone
./module00/ex00/megaphone

BraiiiiiiinnnzzzZ
./module01/ex00/BraiiiiiiinnnzzzZ

zombieHorde
./module01/ex01/zombieHorde

brain
./module01/ex02/brain

Humans
./module01/ex03/Humans

sedIsForLosers
./module01/ex03/sedIsForLosers

harl
./module01/ex04/harl

canon
./module02/ex00/canon
